<section style="background-color:black;" id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 style="color: white; fontweight: 4px;"> <b>Quick Links</b> </h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/">Home</a></li>
                      <li><a href="/send-feedback">Send Feedback</a></li>
                      <li><a href="/contactus">Contact Us</a></li>
                      <li><a href="/aboutus">About Us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 style="color: white; fontweight: 4px;"> <b>Social</b> </h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://wa.me/254717678794">WhatsApp</a></li>
                    <li><a href="https://instagram.com/mobi_center_">Instagram</a></li>
                    <li><a href="https://twitter.com/">Twitter</a></li>
                    <!-- <li><a href="#"><i class="fa fa-angle-double-right"></i>Youtube</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 style="color: white; fontweight: 4px;"> <b>Who We Are</b> </h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/aboutus">About</a></li>
                    <li><a href="javascript:void();"></i>FAQ</a></li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p style="color:white;">&copy; <script>document.write(new Date().getFullYear())</script> Copyright: Mobicenter</p>
            </div>
        </div>
    </div>
</section>
